<!DOCTYPE html>
<html>
    <head>
        <title>sofi's blog</title>
    </head>
    <body>
        <header>
            <h1>Django Girls @PyConIT 2023</h1>
        </header>

        <article>
            <h2><a href="">Post 1</a></h2>
            <time>published: 28.05.2023, 00:00</time>
            <p>post 1 text</p>
        </article>

        <article>
            <h2><a href="">Post 2</a></h2>
            <time>published: 28.05.2023, 00:00</time>
            <p>post 2 text</p>
        </article>
    </body>
</html>